﻿@{
    ViewBag.Title = "Example2";
}

@section scripts {
    <script>
        var calculator = (function () {

            var add = function (x, y) {
                if (isNumeric(x) && isNumeric(y)) {
                    return x + y;
                }
                return 'Calculator only works on numbers';
            };

            var subtract = function (x, y) {
                if (isNumeric(x) && isNumeric(y)) {
                    return x - y;
                }
                return 'Calculator only works on numbers';
            };

            // this is private
            var isNumeric = function (n) {
                return !isNaN(parseFloat(n)) && isFinite(n);
            };

            return {
                add: add,
                subtract: subtract
            };

        })();

        alert(calculator.add(1, 2));
        alert(calculator.add('a', 'b'));

        alert(calculator.isNumeric('abc'));
    </script>
}

<h1>Example 2</h1>

<h2>Private Methods</h2>
<p>Private methods allow us to hide code that should not be accessible to callers.</p>
<pre><code>
var calculator = (function () {
    var add = function(x, y) {
        return x + y;
    };
    var subtract = function(x, y) {
        return x - y;
    }
})();
</code></pre>

<h2>Revealing Module</h2>
<p>Revealing module pattern allows us to expose only what we want callers to access.</p>

<code><pre>
var calculator = (function () {
    
    var add = function (x, y) {
        if (isNumeric(x) && isNumeric(y)) {
            return x + y;
        }
        return 'Calculator only works on numbers';
    };
    
    var subtract = function(x, y) {
        if (isNumeric(x) && isNumeric(y)) {
            return x - y;
        }
        return 'Calculator only works on numbers';
    };
    
    // this is private
    var isNumeric = function(n) {
        return !isNaN(parseFloat(n)) && isFinite(n);
    };
    
    return {
        add: add,
        subtract: subtract
    };
})();
alert(calculator.add(1, 2));
alert(calculator.add('a', 'b'));

alert(calculator.isNumeric('abc'));
</pre></code>
