﻿@{
    ViewBag.Title = "Example 4";
}

@section scripts
{
    <script>
        // $ and ko are global but this technique can prevent name collisions
        var module = (function ($, ko) {

            var ViewModel = function (lowTemps, highTemps) {
                var self = this;
                self.lowTemps = ko.observableArray(lowTemps);
                self.highTemps = ko.observableArray(highTemps);
            };

            var getLowTemps = function () {
                return $.getJSON('LowTemps');
            };

            var getHighTemps = function () {
                return $.getJSON('HighTemps');
            };

            var vm;

            return {
                init: function () {
                    $.when(getLowTemps(), getHighTemps())
                        .done(function (lowTemps, highTemps) {
                            vm = new ViewModel(lowTemps[0], highTemps[0]);
                            ko.applyBindings(vm);
                        })
                        .fail(function (jqxhr) {
                            alert('Oops!');
                        });
                }
            }
        })(jQuery, ko);

        $(document).ready(function () {
            module.init();
        });
    </script>
}

<h1>Example 4</h1>

<h2>Real world example using Knockout</h2>

<pre><code>
// $ and ko are global but this technique can prevent name collisions
var module = (function($, ko) {
    
    var ViewModel = function(lowTemps, highTemps) {
        var self = this;
        self.lowTemps = ko.observableArray(lowTemps);
        self.highTemps = ko.observableArray(highTemps);
    };
    
    var getLowTemps = function() {
        return $.getJSON('LowTemps');
    };
    
    var getHighTemps = function() {
        return $.getJSON('HighTemps');
    };
    
    var vm;
    
    return {
        init: function() {
            $.when(getLowTemps(), getHighTemps())
                .done(function(lowTemps, highTemps) {
                    vm = new ViewModel(lowTemps[0], highTemps[0]);
                    ko.applyBindings(vm);
                })
                .fail(function(jqxhr) {
                    alert('Oops!');
                });
        }
    }

})(jQuery, ko);

$(document).ready(function() {
    module.init();
});
</code></pre>

<h2>Low Temps</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>State</th>
            <th>Date</th>
            <th>Temp (&deg;F)</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: lowTemps">
        <tr>
            <td data-bind="text: State"></td>
            <td data-bind="text: Date"></td>
            <td data-bind="text: Temperature"></td>
        </tr>
    </tbody>
</table>

<h2>High Temps</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>State</th>
            <th>Date</th>
            <th>Temp (&deg;F)</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: highTemps">
        <tr>
            <td data-bind="text: State"></td>
            <td data-bind="text: Date"></td>
            <td data-bind="text: Temperature"></td>
        </tr>
    </tbody>
</table>


