﻿@using System.Web.UI.WebControls

@{
    ViewBag.Title = "Example 3";
}

@section scripts
{
    <script>
        var module1 = (function (title) {

            var pageTitle = title;

            return {
                showTitle: function() {
                    alert('Module1 sez: The title of this page is "' + pageTitle + '".');
                }
            };

        })('@ViewBag.Title');

        module1.showTitle();

        var module2 = (function () {

            var pageTitle;

            var showTitle = function() {
                alert('Module2 sez: The title of this page is "' + pageTitle + '".');
            };

            return {
                init: function(title) {
                    pageTitle = title;
                },
                showTitle: showTitle
            };
        })();

        module2.init('@ViewBag.Title');
        module2.showTitle();

    </script>
}

<h1>Example 3</h1>

<h2>Passing MVC data to a module</h2>

<h3>Not recommended, only works when JS is in .cshtml file.</h3>
<pre><code>
var module1 = (function (title) {
    var pageTitle = title;
    return {
        showTitle: function() {
            alert('Module1 sez: The title of this page is "' + pageTitle + '".');
        }
    };
})('@ViewBag.Title');
module1.showTitle();
</code></pre>

<h3>Recommended, works when JS is in separate file.</h3>
<p>Could also use JS literal with defaults.</p>

<pre><code>
var module2 = (function () {
    var pageTitle;
    var showTitle = function() {
        alert('Module2 sez: The title of this page is "' + pageTitle + '".');
    };
    return {
        init: function(title) {
            pageTitle = title;
        },
        showTitle: showTitle
    };
})();
module2.init('@ViewBag.Title');
module2.showTitle();
</code></pre>
