﻿
@{
    ViewBag.Title = "Example 1";
}

@section scripts
{
    <script>

        var x = 1;
        var y = 2;
        function addXandY() {
            return x + y;
        }

        (function () {
            alert("IIFE");
        })();

        var module = (function() {
            alert("I'm a module.");
        })();
    </script>
}

<h1>Example 1</h1>

<h2>Global Scope</h2>
<p>By default, every variable and function is in global scope. This is bad.</p>
<pre><code>
var x = 1;
var y = 2;
function addXandY() {
    return x + y;
}
</code></pre>

<h2>IIFE - Immediately Invoked Function Expression</h2>
<p>The IIFE creates a new "scope".</p>
<pre><code>
(function () {
    alert("IIFE");
})();
</code></pre>

<h2>Module</h2>
<p>The module is now in the global scope. We can use this pattern to emulate private and public scope.</p>
<pre><code>
var module = (function() {
    alert("I'm a module.");
})();
</code></pre>
