﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li>@Html.ActionLink("Example 1", "Example1")</li>
    <li>@Html.ActionLink("Example 2", "Example2")</li>
    <li>@Html.ActionLink("Example 3", "Example3")</li>
    <li>@Html.ActionLink("Example 4", "Example4")</li>
</ul>

<h2>Resources</h2>
<ul>
    <li>
        <a href="http://toddmotto.com/mastering-the-module-pattern/">Mastering the Module Pattern </a>
    </li>
    <li>
        <a href="http://www.adequatelygood.com/JavaScript-Module-Pattern-In-Depth.html">JavaScript Module Pattern: In-Depth</a>
    </li>
    <li>
        <a href="http://addyosmani.com/resources/essentialjsdesignpatterns/book/">Learning JavaScript Design Patterns</a>
    </li>
    <li>
        <a href="http://it-ebooks.info/book/274/">JavaScript: The Good Parts</a>
    </li>
</ul>

